*{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
}
:root{
    --font-0: "Reddit Sans Condensed", sans-serif;
    --color-0: rgb(219,55,44);
    --color-1: rgb(139,92,122);
   
}
main{
    height: 180rem;
}
.navbar{
    width: 100%;
    position: sticky;
    
    height: 70px;
    background-color: black;
}
.background{
    background-color: black;
    transition: all 500ms ease-in-out;
}
.navbar a{
    text-decoration: none;
    color: inherit;
    color: aliceblue;
}